/* 4 -external css styles.css */
body{
    padding-bottom: 500px;
}
h3{
    color:green;
}

/* como fazer comentarios */
/*classe paragraph*/
.paragraph{
    background-color: lightblue;
    color: blue;
    padding: 5px;
}

/*id */
#titulo-principal{
    color:red;
    padding: 15px;
    background-color: yellow;
}
/* ordem de prioridade */
h2{
    border-bottom: 2px solid red;
}
.titulo2{
    border-bottom: 2px solid blue;
}
#titulo1{
    border-bottom: 2px solid green;
}
/*nome de cores */
.color-name{
    color: purple;
}
/*cores hexadecimais */
.hex{
    color: #ff8521
}
.hex2{
    color: #00ff00;
}
/*cores hexadecimais curtas */
.hex3{
    color: #ff3;
}
/*rgb*/
.rgb{
    color: rgb(255,0,255);
}
/*rgba*/
.rgba{
    color: rgba(255,187,41,0.5); /*0.5 = 50% de transparencia*/
}
/*hsl*/
.hsl{
    color: hsl(120,100%,50%); /*hue, saturation, lightness*/
}
/*bgcolor*/
.bg{
    background-color: #00ff00;
    color: white;
}
/*bgopacity*/
.opacity-bg{
    color: white;
    background-color: green; 
    opacity: 0.7;
}
/*bgrgba*/
.rgba-bg{
    background-color: rgba(0,0,255,0.8);
    color: white;
}
/*bg-image*/
.bg-image{
    background-image:url("../img/nature.jpg");
    padding: 10px;
    color: white;
}
/*bg - position*/
.bg-center, .bg-nocenter{
    background-image:url(../img/bridge.jpg);
    width: 500px;
    height: 500px;
}
.bg-center{
    background-position: center;
    background-size: cover;
}
.heidght-width{
    width: 200px;
    height: 100px;
    background-color: orange;
}
.heidght-width2{
    height: 150px;
    background-color: purple;
}
.widhout-padding, .padding{
    background-color: #111;
    color: #fff;
}
.padding{
    padding: 10px;
}

.padding-individual{
    background-color: #111;
    color: #fff;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 40px; /* 40px de padding embaixo */
    padding-left: 25px;
}
.shorthand-padding{
    background-color: #111;
    color: #fff;
    padding: 6px 12px 18px 24px; /*top right bottom left */
}
.shorthand-padding-2{
    background-color: #111;
    color: #fff;
    padding: 5px 15px; /*top and bottom, right and left */
}
.widhout-border-box{
    background-color: #111;
    color: #fff;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #111;
    color: #eeeaea;
    width: 400px;
    padding: 50px;
    box-sizing: border-box; 
}
.border{
    border: 5px solid red;
    padding: 20px;
}
.border2{
    border: 10px dotted green;
    padding: 15px;
}
.border-left{
    background-color: #111;
    border-left: 5px solid blue;
    padding: 25px;
}
.border-bottom{
    background-color: #111;
    border-bottom: 5px solid blue;
    padding: 25px;
}

.border-radius{
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid #1d37cc;
}
.border-radius2{
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
}
.margin{
    background-color: #111;
    color: #fff;
    padding: 20px;
    margin: 30px;
}
.margin-top{
    background-color: #111;
    color: #fff;
    padding: 20px;
    margin-top: 15px;
}
.shorthand-margin{
    background-color: #111;
    color: #fff;
    padding: 20px;
    margin: 10px 5px 10px 20px; /*top and bottom, right and left */
}
.box-model{
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid red;
    margin: 15px;
    border-radius: 10px;

}
.text-align-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}
.text-align-right{
    text-align: right;
    
}
.text-decoration-underline{
    text-decoration: underline;
}
.text-decoration-line-through{
    text-decoration: line-through;
}
.text-decoration-none{
    text-decoration: none;
}
.text-transform-uppercase{
    text-transform: uppercase;
}
.text-transform-lowercase{
    text-transform: lowercase;
}
.letter-spacing{
    letter-spacing: 5px;
}

.serif{
    font-family: 'Times New Roman', serif;
}
.sans-serif{
    font-family: Arial, sans-serif;
}
.cursive{
    font-family: 'Brush Script MT', cursive;
}
.monospace{
    font-family: 'Courier New', monospace;
}
.fantasy{
    font-family: 'Impact', fantasy;
}
.font-style-italic{
    font-style: italic;
}
.font-style-oblique{
    font-style: oblique;
}
.thin.bold.bolder{
    font-family: Helvetica;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 900;
}

.small{
    font-size: 6px;
}
.medium{
    font-size: 40px;
}
.inline-box{
    width: 15px;
    height: 15px;
    background-color: #4f8 ;
    margin:10px;
    display: inline-block;/* transforma o elemento em bloco, mas mantem na mesma linha */
}
.block{
    display: block;
}
.invisible{
    display:none;
}
.static{
    position: static;
    background-color: orange;
    padding: 10px;
    width: 100px; 
    height: 100px;
}
.relative{
    position: relative;
    background-color: red;
    padding: 10px;
    width: 100px; 
    height: 100px;
    top: 100px;
    left: 50px;
}
.absolute{
    position: absolute;
    background-color: red;
    padding: 10px;
    width: 100px; 
    height: 100px;
    top: 2px;
    right: 2px;
}
.relative-contanier{
    width: 300px;
    height: 300px;
    border:1px solid red;
    margin-top: 120px;
    position: relative;
}
.absolute-1, .absolute-2{
    width:50px;
    height:50px;
    position: absolute;
    background-color: #422;
}
.absolute-1{
    top: 10px;
    left: 10px;
    position: relative;
}
.absolute-2{
    bottom: 10px;
    right: 10px;
}

.fixed{
    position: fixed;
    background-color: red;
    top: 10px;
    right: 10px;
}
.sticky{
    position: sticky;
    background-color: red;
    border: 1px solid green;
    width: 100px; 
    height: 100px;
    top: 10px;
}
.absolute-3, .absolute-4
, .absolute-5{
    width:50px;
    height:50px;
    position: absolute;
    background-color: #4f8;

}
.absolute-3{
    top:0;
    left:0;
    background-color: rgb(247, 5, 5);
    z-index: 1;
}
.absolute-4{
    top: 10px;
    left:10px;
    background-color:#00ff00;
    z-index: 0;
}
.absolute-5{
    top: 40px;
    left:40px;
    background-color:#1d37cc;
    z-index: 3;

}
