/* 4 -external css styles.css */
body{
    padding-bottom: 500px;
}
h3{
    color:green;
}

/* como fazer comentarios */
/*classe paragraph*/
.paragraph{
    background-color: lightblue;
    color: blue;
    padding: 5px;
}

/*id */
#titulo-principal{
    color:red;
    padding: 15px;
    background-color: yellow;
}
/* ordem de prioridade */
h2{
    border-bottom: 2px solid red;
}
.titulo2{
    border-bottom: 2px solid blue;
}
#titulo1{
    border-bottom: 2px solid green;
}
/*nome de cores */
.color-name{
    color: purple;
}
/*cores hexadecimais */
.hex{
    color: #ff8521
}
.hex2{
    color: #00ff00;
}
/*cores hexadecimais curtas */
.hex3{
    color: #ff3;
}
/*rgb*/
.rgb{
    color: rgb(255,0,255);
}
/*rgba*/
.rgba{
    color: rgba(255,187,41,0.5); /*0.5 = 50% de transparencia*/
}
/*hsl*/
.hsl{
    color: hsl(120,100%,50%); /*hue, saturation, lightness*/
}
/*bgcolor*/
.bg{
    background-color: #00ff00;
    color: white;
}
/*bgopacity*/
.opacity-bg{
    color: white;
    background-color: green; 
    opacity: 0.7;
}
/*bgrgba*/
.rgba-bg{
    background-color: rgba(0,0,255,0.8);
    color: white;
}
/*bg-image*/
.bg-image{
    background-image:url("../img/nature.jpg");
    padding: 10px;
    color: white;
}
/*bg - position*/
.bg-center, .bg-nocenter{
    background-image:url(../img/bridge.jpg);
    width: 500px;
    height: 500px;
}
.bg-center{
    background-position: center;
    background-size: cover;
}
.heidght-width{
    width: 200px;
    height: 100px;
    background-color: orange;
}
.heidght-width2{
    height: 150px;
    background-color: purple;
}
.widhout-padding, .padding{
    background-color: #111;
    color: #fff;
}
.padding{
    padding: 10px;
}

.padding-individual{
    background-color: #111;
    color: #fff;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 40px; /* 40px de padding embaixo */
    padding-left: 25px;
}
.shorthand-padding{
    background-color: #111;
    color: #fff;
    padding: 6px 12px 18px 24px; /*top right bottom left */
}
.shorthand-padding-2{
    background-color: #111;
    color: #fff;
    padding: 5px 15px; /*top and bottom, right and left */
}
.widhout-border-box{
    background-color: #111;
    color: #fff;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #111;
    color: #eeeaea;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}
.border{
    border: 5px solid red;
    padding: 20px;
}
.border2{
    border: 10px dotted green;
    padding: 15px;
}
.border-left{
    background-color: #111;
    border-left: 5px solid blue;
    padding: 25px;
}
.border-bottom{
    background-color: #111;
    border-bottom: 5px solid blue;
    padding: 25px;
}